   <script type="text/javascript">

      $(document).ready(function()
      {
//         givershop.init({
//            controller:  "<%= controller_name %>",
//            action:      "<%= action_name     %>",
         init_header({

            title:       "About",
            subtitle:    "Tons of dumb shit"
         });
      });

   </script>

   <div class="hvpad">
      <h2>Fun shit you don't need to know</h2>
      <p>
         Give'rShop is the fucking shit.
      </p>
   </div>
